/*
arramcamos con un reset
*/
/*
use rem instead of px
use % for adaptable elements
20px = 1.25rem
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
    font-family: 'Space Mono', monospace;
    /*border: 1px solid red;*/
    /*applies all*/
}
* a{
    color: black;
        text-decoration: none;

}

.link-* {
    color: black;
    text-decoration: none;
}

* p{ font-size: 16px;}

/** h1{ font-size: 24px;}*/

* h2{ font-size: 20px;}

* ul{padding-bottom: 0;
    padding-left: 0;
    margin-bottom: 0;
    }
* li{
    list-style-type: none;

}



/*por temas de organizacion creamos otro contenedor y la aplicamos flexbox*/

.contenedor-nav-bar{
    /*margin-top: 10px;*/
    display: flex;
    /*contenedor flex*/

    justify-content: center;

    /*space between no me esta sirviendo porque no me deja acomodar al medio el titulo*/

     /* el titulo no tiene que tener flex y lo de los cosados si para que se adapten a el (titulo)
     hacemos que t0do sea hijo del titulo? :) */

    /*por ahora voy a tener que dejarlo simple y usando space between
    entonces voy a acomodar el resto al center y al final voy intentar centrar el titulo
    titulo que ahora no me deja centrar por el tema de flex space between*/

/*    bueno la respuesta era muy simple, align self & flex basis

*/
/*    1 indent es shop*/
/*    2 indent es origen*/
/*    etc...*/


/*al final como resolvi la duda de poner espacios entre flex items?
       agregandole margen a los items por ahora..*/

}


/*voy cerrando las clases que ya pase a scss*/


  .logo-navbar{
    width: 1.05rem;
}
.logo-div{
    position: fixed;
    align-items: center;
    margin-left: -90%;
    width: 1rem;
}
.nav-cont{
    position: fixed;
    margin-left: 70%;
}
.AHER{
    position: fixed;
    text-align: center;
}
.nav-items{
    display: flex;
    list-style-type: none;
    gap: 100px;
    grid-column: 3/4;
}
.nav-bar-bg{
    position:fixed;
    width: 100%;
    height: 30px;
    background-color: white;
    z-index: 0;
}

                        /*termina styling de header y arranca main*/

#main-grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

#main-grid .nav-bar{
    grid-column: 1/8;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

#main-grid .nav-bar .logo-navbar{
    justify-self: start;
    margin-left: 50px;
}
#main-grid .media-title{
    justify-self: center;
    padding-top: 14px;

}

#main-grid .nav-items{
    padding-top: 14px;
}



.nav-items-media .h5{
    margin-left: 47px;
}


#main-grid .introduccion{
    margin-top: 50px;
    grid-column: 2/6;
}

#main-grid .introduccion h5{
    text-align: center;
    grid-column: 2/6;
}






#main-grid .introduccion p{
    margin-top: 3%;
}
#main-grid .section01 {
    grid-column: 2/6;
    display: grid;
}

#main-grid .section01 .elements {
    grid-column: 1/5;
    margin: 35px;
}
#main-grid .section01 .elements .cont-flex p{
    margin-top: -20px;
}


#main-grid .section01 .elements .cont-flex .inner-being-box{
    margin-left: 20%;
}

#main-grid .section01 .elements .cont-flex{
    align-items: center;
    justify-content: space-around;
}

#main-grid .section01 .quote {
    grid-column: 1/5;
}

#main-grid .star01 {
    padding-left: 90%;
}

#main-grid .imagenes{
    grid-column: 1/7;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    justify-content: center;
    align-items: center;
}


#main-grid .imagenes .imagen02 img{
    height: auto;
    width: auto;
    padding: 0 50px 50px 50px;
}

#main-grid .imagenes .imagen01 img{
    padding-top: 15rem;
}

#main-grid .imagenes .imagen03 img{
    padding-top: 15rem;
}



#main-grid .section02 {
    grid-column: 2/6;
}

#main-grid .section02 .text{
    margin: 50px 0 60px ;
    gap: 10%;
}

#main-grid .footer{
    grid-column: 1/8;
}

.nav-cont .nav-items {
    padding-left:0;
}





/*shop with bootrap*/

#carousel-cont{
    margin-top: 10%;
    margin-bottom: 70px;
    display: none;
    justify-content: center;
}

#carousel-cont * p{
    padding-top: 35px;
    text-align: center;
}

.carousel{
    display: none;
    position: absolute;
}

.items-stars-deco-carousel{
    display: none;
}


.intro-p-div{
    margin: 80px;

}

.index-intro-p{
    margin-top: 50px;
    width: 80%;
}


.intro-coleccion {
    margin-bottom: 1rem;
    text-align: center;
}

.intro-star{
    text-align: center;
    padding-left: 13rem;
    margin-top: 1.3999999999999986rem;}


            .intro-coleccion-producto {
                margin-bottom: 1rem;
                text-align: center;
            }

            .intro-star-producto{
                padding-left: 13rem;
                margin-top: 2.4rem;
            }

/**/


.contenido-intro{
    height: auto;
    width: 100%;
}

            .sub-header-derecha {
            }

            .sub-header-izquierda > *{
                display: inline-block;

            }

            .star-deco-product{
                display: inline-block;
                margin: 4px 117px 63px 51px
            }

            .size-selection-div{
                padding-right: 15rem
            }

            .size-selector-img{
                margin: -111px 50px 50px 50px;
            }

            .sub-header-izquierda {display:inline-block;}

            .sub-header-izquierda a{
                position: absolute;
            }
            .sub-header-izquierda img{
                margin: 5rem 3rem -38rem 0;
            }

            .sub-main-cont-derecha{

                /*border-style: solid;*/
                /*border-width: 1px;*/
            }


            .sub-footer{
                display: flex;
                justify-content: center;
                /*border-style: solid;*/
                /*border-width: 1px;*/
            }


            .empty-div03-separador{
                height: auto;
                width: 383px;
            }

            .item-aher002{
                text-align: center;
                /*border-style: solid;*/
                /*border-width: 1px;*/

            }
            .item-aher002-product-info{
                padding-top: 50px;
            }
            .sub-footer-derecha img{
                /*border-style: solid;*/
                /*border-width: 1px;*/
            }

            .tabla-de-tallas{
                margin: 9px 150px 51px 70px;
                width: 542px;
                height: auto;
            }


            .empty-div04-separador{
                height: auto;
                width: 187px;
            }
            .image04 {margin: 19px 0 64px 0;}

            .empty-div05-separador{
                height: auto;
                width: 195px;
            }


.contenido-intro h2{
    margin-top: 5rem;
    text-align: center;
}





.cont-just-c-center{
    justify-content: center;
}
.cont-flex{
    display: flex;
    /*flex lo pone sus hijos en row auto*/
}





    .logo04{
        display: block;
        height: 1.10rem;
    }
/*ahora que estoy haciendo la segunda pagina me di cuenta que
tengo que usar el mismo archivo css para todas las paginas
y que puedo reciclar clases (no se me había ni pasado por la cabeza tbh)

       ?  /
  ;:'0---8--
      ¿   \

      (yo enojado con guantes y pitito)
  */

            .logo-deco-producto{
                display: inline-block;
                height: 2.2rem;
            }



.right-section-item{
    display: inline-block;

}



.contenido-principal-splitted{
    display: flex;
    height: 1500px;
    width: 100%;
    /*background-color: darkred;*/
}
.main-left-div{
    height: 1500px;
    width: 1000px;
    /*border-style: solid;*/
    /*border-width: 1px;*/
    align-content: start;
}

.image01-cont{
    margin-top: 5rem;
    max-width: 100%;
    height: auto;
    position: relative;

    /*overflow: hidden;*/
    /*    para esconder exedente de algun contenedor*/
}
.image01{
    width: 65%;
    height: auto;
    position: relative;
    /*outline:1px solid black;*/
    /*outline-offset:0;*/
    /*border:1px solid transparent;*/
    margin-left: 20%;
}

.image01-border-deco{

    width: 66%;
    height: 100%;
    border: 1px solid black;
    position: absolute;
    margin-left: 25%;
    margin-top: 5%;
    z-index: 1;

}






.main-right-div{
    height: 1500px;
    width: 50%;
    /*border-style: solid;*/
    /*border-width: 1px;*/
    align-content: end;
    /*background-color: rgba(106, 90, 205, 0.31);*/
}

.image03-actual-image{
    padding-left: 30px;
}


.top-right-div-container{
    display: block;
    height: 250px;
    width: 100%;
    /*border-style: solid;*/
    /*border-width: 1px;*/

}
.next-arrow p{
    margin: 50px 50px 00px 848px;
}
            .next-arrow-producto {
                padding-left: 70%;
            }

            .product-info{
                margin-top: 64px;
                display: inline-block;
                padding: 0 4rem 1rem 4rem ;
            }

            .inner-being-box-item-product {
                padding-left: 513px;
                padding-top: 8px;
                padding-bottom: 14px;
            }


    .cont-nav {
        display: flex;
        justify-content: center;
    }

    .nav-items-shop{
        margin-left: 70rem;
    }

    .nav-back{
        margin: 0 31px 44px 0;
    }
    .logo04{
        margin: 0 70rem;
    }

.inner-being-box {

    display: inline-block;
    text-align: center;
    width: auto;
    padding: 0.9rem 1.8rem 1.8rem 1.8rem;
    border-style: solid;
    border-width: 1px;
}

.middle-right-div-container{
    display: flex;
    /*no hace falta ponerle flex direction row porque flex
     automaticamente lo pone en row*/
    height: 1250px;
    width: 100%;

    /*al height y width aca al principio lo use para definir el espacio que
    iba a ocupar t0do pero con el paso del tiempo me fue dando cuenta que eso
    lo voy definiendo con el margen una vez acomodado t0do*/


    /*border-style: solid;*/
    /*border-width: 1px;*/
}

.right-side-middle-container{
    height: 1250px;
    width: 50%;
    /*border-style: solid;*/
    /*border-width: 1px;*/
}
.right-side-middle-container p{
    text-align: left;
}

.empty-div02 {
    height: 50px;
    width: 100%;
    /*border-style: solid;*/
    /*border-width: 1px;*/
    align-content: end;
}

.logo{
    margin: 50px 20px 75px 80%;
    display: block;
    height: 2.2rem;
}


.left-side-middle-container{
    height: 1250px;
    width: 50%;
    /*border-style: solid;*/
    /*border-width: 1px;*/
}
.image02{
    margin-left: 50px;
    height: 50px;
    width: 40px;
    /*border-style: solid;*/
    /*border-width: 1px;*/
}

.image01-caption{
    display: inline;
    margin-left: 70%;
}


.image01-cont figure figcaption{
    margin: auto auto auto 60%;
}
.coleccion-star02-index{
    margin-left: 60%;
    margin-top: 20%;
}
.coleccion-p-index{
    text-align: center;
    position: relative;

}



.logo-union-footer a img{
    position: relative;
    top: 25px;
    height: 2.2rem;
    width: 100%;

}


    .conjuntos-img{
        display: flex;
        justify-content: center;

    }

    .cont-flex-items{
        display: flex;
        justify-content: center;

}
    .cont-flex-items p{
        margin: 80px;
    }
    .items-stars-deco{
        margin: 20px;

    }
    .items-stars-deco p{
        margin: 0 30rem;
    }
    .cont-flex-items p{
    }



                .image06{
                    width: 60rem;
                    height: auto;
                    margin: 50px 50px 50px 250px;
                }

                .image07{
                    margin-left: 100px;
                    margin-bottom: 50px;
                }
                .span-p-origen{
                        padding: 100px;
                }
                .primer-p-origen{
                    margin-bottom: 100px;
                }
                .segundo-p-origen{
                    margin-bottom: 100px;

                }

                .span-p-origen .inner-being-box{
                    margin-left: 30%;
                }


                    .contacto-p{
                        padding-left: 25%;
                    }


                    .contacto-box{
                        margin: 4rem 4rem 4rem 25%;
                        display: inline-block;
                        text-align: center;
                        width: auto;
                        padding: 3.5rem 5rem 5rem 5rem;
                        border-style: solid;
                        border-width: 1px;
                    }




                /*termina contenido principal y arranca el footer*/



.contenedor-footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #F8F7F5;
    /*align-content: end;*/
    background-color: #F8F7F5;
}

.footer {
    position: sticky;
}



                    .contenedor-footer-contacto{

                        height: 444px;
                        width: 100%;
                        border-style: solid;
                        border-width: 1px;
                        /*align-content: end;*/
                        background-color: #F8F7F5;

                    }

.title-div-footer {
    margin: 30px auto 10px 2%;
}

.cont-footer-main-flex{
    display: flex;
    flex-wrap: nowrap;
    margin: 50px 10% 50px 25%;
}
.cont-redes-border{
    /*height: 100px;*/
    /*margin:  auto 50% auto auto;*/
    box-sizing: content-box;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
}
.cont-redes-border p{
    display: inline-block;
}
.cont-redes-texto{
    /*border-style: solid;*/
    /*border-width: 1px;*/
}
.tik-tok{
    margin: auto 50px auto 15px;
}
.instagram{
    margin: auto 15px auto auto;
}
.cont-contacto{
    margin-left: 40%;
}
.cont-contacto p{
    display: inline-block;}







@media (min-width: 1440px) {

    #main-grid .navbar {
        display: none;
        position: absolute;
    }

    .nav-items-media{
        display: none;
    }

}

@media (max-width: 1440px) {

    #main-grid .logo{
        margin: auto;
    }

    .logo-div{
        position: absolute;
    }
    .AHER{
        position: absolute;
    }
    .nav-cont{
        position: absolute;
        display: none;
    }

    .nav-items-media{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-left: 62px;
    }

    #main-grid .introduccion {
        margin-top: 20px;
        }

    .nav-items-media .h5 {
         margin-left: 0;
    }
    .nav-items-media .contacto-media{
        margin-right: 1rem;
    }

    .nav-bar-bg {
        display: none;
    }

    /*shop*/

    .carousel {
        display: block;
        position: relative;
    }
    #carousel-cont{
        display: flex;
        justify-content: center;
    }

    .conjuntos{
        display: none;
    }

    .cont-nav{
        justify-content: space-around;
    }

    .cont-nav .logo04{
        margin: 0;
    }
    .cont-nav .nav-back {
        margin: 0;
    }
    .nav-items-shop{
        margin-left: 0;
    }

    .items-stars-deco-carousel{
        display: flex;
        justify-content: space-around;
        margin: 20px;

    }
    .contenido-intro h2 {
        margin-top: 3rem;
    }


}

@media  (max-width: 1024px){

    .cont-contacto {
        margin-left: 23%;
    }


    #main-grid .imagen01 {
        display: none;
        position: absolute;
    }
    #main-grid .nav-items{
        display: none;
        position: absolute;
    }
}

@media  (max-width: 768px){


    #main-grid .imagen03 {
        display: none;
        position: absolute;
    }

    #main-grid .section02 .text{
        flex-wrap: wrap;
    }

    #main-grid .section02 {
        margin-top: 3rem;
    }

    #main-grid .introduccion p{
        text-align: center;
    }

    .nav.cont{
        margin-top: 24px;
        gap: 260px;
    }
    #main-grid .imagenes .imagen02 img {
        height: 88%;
        width: auto;
        padding: 0;
    }

    #main-grid .introduccion {
        margin-top: 1%;
        grid-column: 1/7;
    }

    #main-grid .section02 {
        grid-column: 1/7;
    }

    #main-grid .section01 {
        grid-column: 1/7;
    }


}

@media (max-width: 425px){


    #main-grid .section02 a{
        text-align: center;
    }

    #main-grid .section01 .elements .cont-flex .inner-being-box {
        margin-left: 4%;
    }

    .cont-footer-main-flex {
        margin: 50px 0 50px 0;
    }

    #main-grid .section01 .elements .cont-flex {
        flex-wrap: wrap;
    }

    #main-grid .section01 .elements .cont-flex h5 {
        padding: 19% 0;
    }


    #main-grid .imagenes .imagen02 img {
        height: auto;
        width: 100%;
    }


    .nav-items-media{
        display: flex;
        justify-content: space-between;
    }

}




