* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace; }
  * a {
    color: black;
    text-decoration: none; }
  * h1, * h2, * h3 {
    font-weight: normal; }
  * li {
    list-style-type: none; }
  * p {
    font-size: 18px; }

.inner-being-box {
  border: solid 2px black; }

@keyframes up-reload {
  from {
    margin: 125px 74px; }
  to {
    margin: 75px 74px; } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes scale-a-bit {
  0% {
    transform: scale(10%); }
  100% {
    transform: scale(50%); } }

@keyframes extend-width {
  from {
    width: 75px; }
  to {
    width: 125px; } }

.offcanvas-menu {
  display: none; }
  .offcanvas-menu > label {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
    display: flex;
    align-self: end;
    align-items: center;
    z-index: 9999; }
  .offcanvas-menu label span,
  .offcanvas-menu label span::before,
  .offcanvas-menu label span::after {
    transition: background 0.3s, transform 0.3s; }
  .offcanvas-menu label span,
  .offcanvas-menu label span::before,
  .offcanvas-menu label span::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 32px;
    background: #000000; }
  .offcanvas-menu label span::before {
    transform: translateY(-12px); }
  .offcanvas-menu label span::after {
    transform: translateY(12px); }
  .offcanvas-menu nav {
    position: fixed;
    height: 100%;
    width: 50%;
    right: -500px;
    overflow: hidden;
    background: #c4c4c4;
    transition: 0.6s ease;
    padding: 23px 26px;
    z-index: 2; }
    .offcanvas-menu nav > div {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .offcanvas-menu nav > div a {
        display: flex;
        align-items: center;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
        .offcanvas-menu nav > div a i {
          font-size: 4rem;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent; }
      .offcanvas-menu nav > div label {
        width: 30px;
        height: 30px;
        display: flex !important;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.3s ease; }
        .offcanvas-menu nav > div label span,
        .offcanvas-menu nav > div label span:before,
        .offcanvas-menu nav > div label span:after {
          background: #4d4d4d; }
    .offcanvas-menu nav > ul {
      margin-top: 30px; }
      .offcanvas-menu nav > ul li {
        cursor: pointer;
        padding: 10px 0;
        transform: translateX(-30px);
        opacity: 0;
        transition: 0.4s ease; }
        .offcanvas-menu nav > ul li a {
          font-size: 1.5em;
          line-height: 1.5;
          color: #333333;
          display: block; }
        .offcanvas-menu nav > ul li:hover {
          animation: hover 0.5s; }
  .offcanvas-menu input[type="checkbox"] {
    display: none; }
    .offcanvas-menu input[type="checkbox"]:checked ~ label {
      opacity: 0;
      pointer-events: none; }
    .offcanvas-menu input[type="checkbox"]:checked ~ nav {
      right: 0;
      top: 0; }
    .offcanvas-menu input[type="checkbox"]:checked ~ nav label span {
      background: transparent; }
    .offcanvas-menu input[type="checkbox"]:checked ~ nav label span:before {
      transform: rotate(-45deg); }
    .offcanvas-menu input[type="checkbox"]:checked ~ nav label span:after {
      transform: rotate(45deg); }
    .offcanvas-menu input[type="checkbox"]:checked ~ nav label span:before,
    .offcanvas-menu input[type="checkbox"]:checked ~ nav label span:after {
      transition-delay: 0.2s; }
    .offcanvas-menu input[type="checkbox"]:checked ~ nav ul li {
      opacity: 1;
      transform: translateX(0px); }
    .offcanvas-menu input[type="checkbox"]:checked ~ nav ul li:nth-child(1) {
      transition-delay: 0.1s; }
    .offcanvas-menu input[type="checkbox"]:checked ~ nav ul li:nth-child(2) {
      transition-delay: 0.2s; }
    .offcanvas-menu input[type="checkbox"]:checked ~ nav ul li:nth-child(3) {
      transition-delay: 0.3s; }
    .offcanvas-menu input[type="checkbox"]:checked ~ nav ul li:nth-child(4) {
      transition-delay: 0.4s; }

.inner-being-box {
  border: solid 2px black; }

@keyframes up-reload {
  from {
    margin: 125px 74px; }
  to {
    margin: 75px 74px; } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes scale-a-bit {
  0% {
    transform: scale(10%); }
  100% {
    transform: scale(50%); } }

@keyframes extend-width {
  from {
    width: 75px; }
  to {
    width: 125px; } }

.nav-bar-bg {
  position: fixed;
  width: 100%;
  height: 30px;
  background-color: white;
  z-index: 0; }

.nav-items-query {
  display: none; }
  .nav-items-query .h5 {
    margin-left: 47px; }

#main-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr); }
  #main-grid .aher-header-title {
    grid-column: 1/7;
    display: flex;
    margin-top: 15px;
    justify-content: center;
    text-align: center; }
  #main-grid .introduccion {
    margin-top: 32px;
    grid-column: 1/9; }
    #main-grid .introduccion h2 {
      text-align: center;
      grid-column: 2/6; }
    #main-grid .introduccion p {
      margin: 20px 225px;
      text-align: center; }
  #main-grid .estrella {
    padding: 0 10px; }
  #main-grid .nav-bar-breadcrumb {
    grid-column: 2/6;
    grid-row: 6;
    justify-content: space-between; }
    #main-grid .nav-bar-breadcrumb .next-arrow-producto {
      margin-left: 0; }
  #main-grid .section01 {
    grid-column: 2/6;
    grid-row: 3/6;
    display: grid; }
    #main-grid .section01 .elements {
      grid-column: 1/5;
      margin: 60px 35px; }
      #main-grid .section01 .elements .cont-flex {
        align-items: center;
        justify-content: space-around; }
        #main-grid .section01 .elements .cont-flex p {
          margin-top: -20px; }
          #main-grid .section01 .elements .cont-flex p .inner-being-box {
            margin-left: 20%; }
    #main-grid .section01 .quote {
      grid-column: 1/5; }
  #main-grid .star {
    margin-left: 35px; }
  #main-grid .imagenes {
    grid-column: 1/7;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    justify-content: center;
    align-items: center; }
    #main-grid .imagenes .imagen01 img {
      padding-top: 15rem; }
    #main-grid .imagenes .imagen02 img {
      height: auto;
      width: auto;
      padding: 0 50px 50px 50px; }
    #main-grid .imagenes .imagen03 img {
      padding-top: 15rem; }
  #main-grid * img:hover {
    transform: scale(1.01); }
  #main-grid .section02 {
    grid-column: 1/7;
    margin-top: 100px; }
    #main-grid .section02 a h2 {
      text-align: center; }
    #main-grid .section02 a h2:hover {
      transform: scale(1.01); }
    #main-grid .section02 #text-index-main-footer {
      flex-direction: column;
      margin: 50px 0 60px; }
      #main-grid .section02 #text-index-main-footer .uno {
        padding: 75px;
        border-top: dashed #cccccc 2px; }
      #main-grid .section02 #text-index-main-footer .dos {
        padding: 24px 75px; }
  #main-grid .footer {
    grid-column: 1/8; }

.inner-being-box {
  border: solid 2px black; }

@keyframes up-reload {
  from {
    margin: 125px 74px; }
  to {
    margin: 75px 74px; } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes scale-a-bit {
  0% {
    transform: scale(10%); }
  100% {
    transform: scale(50%); } }

@keyframes extend-width {
  from {
    width: 75px; }
  to {
    width: 125px; } }

main .aher-header-title {
  display: flex;
  margin-top: 15px;
  justify-content: center;
  align-items: center; }

main .contenido-intro {
  height: auto;
  width: 100%; }
  main .contenido-intro h2 {
    margin-top: 2rem;
    text-align: center; }
  main .contenido-intro .intro-star {
    text-align: center;
    padding-left: 13rem;
    margin-top: 0; }
  main .contenido-intro .intro-coleccion {
    margin-bottom: 1rem;
    text-align: center; }
  main .contenido-intro .intro-shop-p {
    display: flex;
    justify-content: center;
    margin: 15px; }
    main .contenido-intro .intro-shop-p p {
      text-align: center;
      width: 60rem; }

main .cont-nav {
  margin: 1rem;
  justify-content: space-around; }
  main .cont-nav .logo04 {
    height: 1.2rem; }

main #conjuntos {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 25px; }
  main #conjuntos .img {
    height: auto;
    width: 100%;
    border: dashed #cccccc 2px; }
  main #conjuntos a:hover {
    transform: scale(1.01); }

main .items-stars-deco p {
  margin: 0 30rem; }

.inner-being-box {
  border: solid 2px black; }

@keyframes up-reload {
  from {
    margin: 125px 74px; }
  to {
    margin: 75px 74px; } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes scale-a-bit {
  0% {
    transform: scale(10%); }
  100% {
    transform: scale(50%); } }

@keyframes extend-width {
  from {
    width: 75px; }
  to {
    width: 125px; } }

#content-item02 .aher-header-title {
  display: flex;
  margin-top: 15px;
  justify-content: center;
  align-items: center; }

#content-item02 div .next-arrow-producto {
  margin-left: 50%; }

#content-item02 .cont-producto .main-izquierda {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 50%; }
  #content-item02 .cont-producto .main-izquierda .logo-deco-producto {
    display: inline-block;
    height: 2.2rem; }
  #content-item02 .cont-producto .main-izquierda a {
    position: absolute;
    bottom: 400px;
    left: 36px; }
  #content-item02 .cont-producto .main-izquierda .annotation-line-cont01 {
    position: absolute;
    top: -1%;
    left: 54%;
    z-index: 1;
    height: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 20%; }
    #content-item02 .cont-producto .main-izquierda .annotation-line-cont01 p {
      align-self: center;
      padding-top: 27px; }
    #content-item02 .cont-producto .main-izquierda .annotation-line-cont01 .line01-cm {
      width: 200px;
      height: 0.8px;
      display: block;
      background-color: black;
      transform: rotate(320deg);
      transform-origin: top left; }
  #content-item02 .cont-producto .main-izquierda .annotation-line-cont02 {
    position: absolute;
    top: 12%;
    left: -18%;
    z-index: 1;
    height: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 60%; }
    #content-item02 .cont-producto .main-izquierda .annotation-line-cont02 .line02-top {
      width: 125px;
      height: 0.8px;
      display: block;
      background-color: black; }
  #content-item02 .cont-producto .main-izquierda .annotation-line-cont03 {
    position: absolute;
    top: 25%;
    left: 30%;
    z-index: 1;
    height: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 60%; }
    #content-item02 .cont-producto .main-izquierda .annotation-line-cont03 .line03-falda {
      width: 125px;
      height: 0.8px;
      display: block;
      background-color: black; }
  #content-item02 .cont-producto .main-izquierda .annotation-line-cont04 {
    position: absolute;
    top: 66%;
    left: 19%;
    z-index: 1;
    height: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 60%;
    align-items: normal; }
    #content-item02 .cont-producto .main-izquierda .annotation-line-cont04 .line04-polainas {
      width: 75px;
      height: 0.8px;
      display: block;
      background-color: black; }
    #content-item02 .cont-producto .main-izquierda .annotation-line-cont04 .line04-polainas-ext {
      width: 0.8px;
      height: 30px;
      display: block;
      background-color: black; }
    #content-item02 .cont-producto .main-izquierda .annotation-line-cont04 p {
      padding-top: 27px; }
  #content-item02 .cont-producto .main-izquierda .item02-image01 {
    height: auto;
    width: 40%; }
  #content-item02 .cont-producto .main-izquierda .item02-image01:hover .line02-top {
    animation: extend-width 1s ease-out; }
  #content-item02 .cont-producto .main-izquierda .cont-flex-info {
    display: flex;
    justify-content: center; }
    #content-item02 .cont-producto .main-izquierda .cont-flex-info .item-info {
      text-align: center;
      margin: 7%; }

#content-item02 .cont-producto .main-izquierda > * {
  display: inline-block; }

#content-item02 .cont-producto .main-derecha {
  width: 50%; }
  #content-item02 .cont-producto .main-derecha * li {
    list-style-type: disc; }
  #content-item02 .cont-producto .main-derecha .section-01-info {
    display: flex; }
    #content-item02 .cont-producto .main-derecha .section-01-info .product-info {
      margin-top: 10px;
      display: inline-block;
      padding: 0 4rem 1rem 1rem; }
    #content-item02 .cont-producto .main-derecha .section-01-info .inner-being-box-item-product {
      padding: 10px 0 14px 50px; }
      #content-item02 .cont-producto .main-derecha .section-01-info .inner-being-box-item-product .inner-being-box {
        border: dashed #cccccc 2px; }
  #content-item02 .cont-producto .main-derecha #add-carrito {
    font-size: 18px;
    border: none;
    padding: 5px;
    outline: none;
    background-color: unset;
    margin: 20px 126px;
    font-style: italic; }
  #content-item02 .cont-producto .main-derecha #add-carrito:hover {
    transform: scale(1.01); }
  #content-item02 .cont-producto .main-derecha #product-cont {
    width: 100%;
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap; }
    #content-item02 .cont-producto .main-derecha #product-cont .product-var {
      font-size: larger;
      width: 45px;
      height: 45px;
      margin-right: 23px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase !important;
      position: relative;
      margin-bottom: 10px;
      background-color: #f7f7f7; }
    #content-item02 .cont-producto .main-derecha #product-cont .product-var:hover {
      background-color: #d9d9d9; }
    #content-item02 .cont-producto .main-derecha #product-cont .selected {
      background-color: #cccccc; }
  #content-item02 .cont-producto .main-derecha .sub-main-derecha {
    margin-top: 100px; }
    #content-item02 .cont-producto .main-derecha .sub-main-derecha .star-img-cont-flex {
      display: flex;
      position: relative;
      justify-content: center;
      align-content: center; }
      #content-item02 .cont-producto .main-derecha .sub-main-derecha .star-img-cont-flex span {
        position: absolute;
        align-self: center;
        padding-right: 100px;
        left: 0; }
      #content-item02 .cont-producto .main-derecha .sub-main-derecha .star-img-cont-flex .item02-image02 {
        height: auto;
        width: 480px; }
      #content-item02 .cont-producto .main-derecha .sub-main-derecha .star-img-cont-flex .item02-image03 {
        display: none;
        height: auto;
        width: 300px; }
    #content-item02 .cont-producto .main-derecha .sub-main-derecha #tabla-talles {
      margin-top: 100px;
      padding: 50px;
      display: inline-grid;
      grid-template-columns: auto auto auto auto;
      column-gap: 100px;
      row-gap: 10px;
      border: dashed #cccccc 2px; }
      #content-item02 .cont-producto .main-derecha .sub-main-derecha #tabla-talles * p {
        align-self: center;
        inline-size: max-content; }
      #content-item02 .cont-producto .main-derecha .sub-main-derecha #tabla-talles p {
        grid-column: 1/5; }
      #content-item02 .cont-producto .main-derecha .sub-main-derecha #tabla-talles .sizes {
        display: flex;
        flex-direction: column; }
      #content-item02 .cont-producto .main-derecha .sub-main-derecha #tabla-talles .busto-sizes {
        display: flex;
        flex-direction: column; }
      #content-item02 .cont-producto .main-derecha .sub-main-derecha #tabla-talles .cintura-sizes {
        display: flex;
        flex-direction: column; }
      #content-item02 .cont-producto .main-derecha .sub-main-derecha #tabla-talles .cadera-sizes {
        display: flex;
        flex-direction: column; }

.inner-being-box {
  border: solid 2px black; }

@keyframes up-reload {
  from {
    margin: 125px 74px; }
  to {
    margin: 75px 74px; } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes scale-a-bit {
  0% {
    transform: scale(10%); }
  100% {
    transform: scale(50%); } }

@keyframes extend-width {
  from {
    width: 75px; }
  to {
    width: 125px; } }

.main-content-origen .aher-header-title {
  display: flex;
  margin-top: 15px;
  justify-content: center;
  align-items: center; }

.main-content-origen .image06 {
  width: 60rem;
  height: auto;
  margin: 50px 50px 50px 250px; }

.main-content-origen #paleta-colores-origen {
  display: flex;
  justify-content: center; }
  .main-content-origen #paleta-colores-origen .color {
    width: 200px;
    height: 20px;
    margin: 10px; }
  .main-content-origen #paleta-colores-origen .uno {
    background-color: #6d7c6e; }
  .main-content-origen #paleta-colores-origen .dos {
    background-color: #A8A2A2; }
  .main-content-origen #paleta-colores-origen .tres {
    background-color: #AF918C; }
  .main-content-origen #paleta-colores-origen .cuatro {
    background-color: #CBAE91; }
  .main-content-origen #paleta-colores-origen .cinco {
    background-color: #D3C2B2; }
  .main-content-origen #paleta-colores-origen .seis {
    background-color: #D8CBC0; }

.main-content-origen .origen-text {
  display: flex;
  flex-direction: column;
  margin: 75px 47px; }
  .main-content-origen .origen-text .texto01-origen {
    align-self: center;
    padding: 50px 75px; }
  .main-content-origen .origen-text .texto02-origen {
    align-self: center;
    padding: 50px 75px; }

.main-content-origen .ibb-origen {
  margin: 50px;
  display: flex;
  justify-content: center; }

#contacto {
  height: 580px; }
  #contacto .aher-header-title {
    display: flex;
    margin-top: 15px;
    justify-content: center;
    align-items: center; }
  #contacto .contacto-p {
    padding-left: 25%; }
  #contacto .contacto-box {
    background-color: rgba(196, 196, 196, 0.2);
    margin: 4rem 4rem 4rem 25%;
    display: inline-block;
    text-align: center;
    width: auto;
    padding: 4rem;
    border-style: solid;
    border-width: 2px; }

#carrito-main .carrito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #carrito-main .carrito .cart-row {
    display: flex;
    gap: 30px; }

#carrito-main .container {
  margin: 15px;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 30px; }
  #carrito-main .container * {
    align-self: center; }
  #carrito-main .container button {
    padding: 2px;
    outline: none; }

#carrito-main #total {
  display: flex;
  justify-content: center;
  align-items: center; }

.inner-being-box {
  border: solid 2px black; }

@keyframes up-reload {
  from {
    margin: 125px 74px; }
  to {
    margin: 75px 74px; } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes scale-a-bit {
  0% {
    transform: scale(10%); }
  100% {
    transform: scale(50%); } }

@keyframes extend-width {
  from {
    width: 75px; }
  to {
    width: 125px; } }

main .error404 {
  font-size: xxx-large !important;
  background-color: rgba(196, 196, 196, 0.2);
  display: flex;
  flex-direction: column; }
  main .error404 .error {
    color: rgba(255, 0, 0, 0.64); }
  main .error404 .atras {
    padding-top: 100px; }

.logo-union-footer a .logo-footer {
  animation: spin 2s linear infinite;
  left: 49%;
  position: relative;
  top: 23px;
  height: 2.2rem; }

.footer .footer-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f8f7f5; }
  .footer .footer-body .footer-header {
    margin: 30px auto 10px 2%; }
  .footer .footer-body .footer-main {
    display: flex;
    justify-content: space-around;
    padding: 2% 0 5% 0; }
    .footer .footer-body .footer-main .redes-border {
      display: inline;
      width: fit-content;
      box-sizing: content-box;
      padding: 20px;
      border-style: solid;
      border-width: 2px; }
      .footer .footer-body .footer-main .redes-border * p {
        display: inline-block; }
      .footer .footer-body .footer-main .redes-border .tik-tok {
        margin: auto 50px auto 15px; }
      .footer .footer-body .footer-main .redes-border .instagram {
        margin: auto 15px auto auto; }
    .footer .footer-body .footer-main .contacto-footer-575 {
      display: none; }
    .footer .footer-body .footer-main .contacto-footer {
      display: inline; }
      .footer .footer-body .footer-main .contacto-footer p {
        text-align: end;
        display: inline-block; }

.footer .contenedor-footer-contacto {
  height: 310px;
  width: 100%;
  background-color: #F8F7F5; }
  .footer .contenedor-footer-contacto .footer-header {
    margin: 30px auto 10px 2%; }
  .footer .contenedor-footer-contacto .cont-footer-main-flex-contacto {
    display: flex;
    flex-wrap: nowrap;
    margin: 50px 10% 50px 25%; }
    .footer .contenedor-footer-contacto .cont-footer-main-flex-contacto .redes-border {
      box-sizing: content-box;
      padding: 20px;
      border-style: solid;
      border-width: 2px; }
      .footer .contenedor-footer-contacto .cont-footer-main-flex-contacto .redes-border * p {
        display: inline-block; }
      .footer .contenedor-footer-contacto .cont-footer-main-flex-contacto .redes-border .tik-tok {
        margin: auto 50px auto 15px; }
      .footer .contenedor-footer-contacto .cont-footer-main-flex-contacto .redes-border .instagram {
        margin: auto 15px auto auto; }

.nav-og-star-right {
  position: absolute;
  right: 10px;
  animation: spin 2s linear infinite; }

.nav-bar-og {
  display: flex;
  justify-content: space-evenly; }
  .nav-bar-og .logo-div {
    align-items: center;
    width: 1rem; }
  .nav-bar-og .carrito-logo {
    height: auto;
    width: 2.2rem;
    align-items: center; }

.nav-bar-breadcrumb {
  justify-content: space-around; }
  .nav-bar-breadcrumb .next-arrow-producto {
    margin-left: 50%; }

.inner-being-box {
  display: inline-block;
  text-align: center;
  width: auto;
  padding: 0.9rem 1.8rem 1.8rem 1.8rem; }

.cont-flex {
  display: flex; }

.cont-just-c-center {
  justify-content: center; }

.inner-being-box {
  border: solid 2px black; }

@keyframes up-reload {
  from {
    margin: 125px 74px; }
  to {
    margin: 75px 74px; } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes scale-a-bit {
  0% {
    transform: scale(10%); }
  100% {
    transform: scale(50%); } }

@keyframes extend-width {
  from {
    width: 75px; }
  to {
    width: 125px; } }

@media (min-width: 550px) {
  .offcanvas-menu nav {
    width: 30%; } }

@media (max-width: 1024px) {
  .nav-items {
    display: none;
    position: absolute; } }

@media (min-width: 768px) {
  .nav-bar-og .shop {
    margin-left: 50%; }
  .nav-bar-og .origen {
    margin-left: 1%; } }

@media (max-width: 768px) {
  .nav-bar-og .logo-div {
    margin-right: 14rem;
    width: 1.3rem; }
  .nav-bar-og .shop {
    display: none; }
  .nav-bar-og .origen {
    display: none; }
  .nav-bar-og .contacto {
    display: none; }
  .nav-bar-og .offcanvas-menu {
    display: contents; } }

@media (max-width: 425px) {
  .nav-items-query {
    display: flex;
    justify-content: space-between; } }

@media (max-width: 320px) {
  .nav-bar-og {
    display: flex; } }

@media (max-width: 1024px) {
  #main-grid .introduccion p {
    margin: 20px 125px; }
  #main-grid .imagen01 {
    display: none;
    position: absolute; }
  #main-grid .imagenes p {
    margin-left: 160px;
    align-self: flex-start; } }

@media (max-width: 768px) {
  #main-grid .introduccion {
    grid-column: 1/7; }
    #main-grid .introduccion p {
      margin: 20px 75px;
      text-align: center; }
  #main-grid .section01 {
    grid-column: 1/7; }
    #main-grid .section01 .quote {
      padding: 0 15px;
      grid-column: 1/4; }
  #main-grid .imagenes .imagen02 img {
    height: 88%;
    width: auto;
    padding: 0; }
  #main-grid .imagenes .imagen03 img {
    display: none;
    position: absolute; }
  #main-grid .imagenes p {
    margin-left: 0;
    align-self: center; }
  #main-grid .section02 {
    grid-column: 1/7;
    margin-top: 3rem; }
    #main-grid .section02 .text {
      flex-wrap: wrap; } }

@media (max-width: 575px) {
  #main-grid .introduccion p {
    margin: 20px 10px; }
  #main-grid .imagenes p {
    text-align: center; } }

@media (max-width: 425px) {
  #main-grid .section01 .elements {
    margin: 44px 0; }
    #main-grid .section01 .elements .cont-flex {
      flex-wrap: wrap; }
      #main-grid .section01 .elements .cont-flex h2 {
        margin-bottom: 50px; }
      #main-grid .section01 .elements .cont-flex .inner-being-box {
        margin-left: 4%; }
  #main-grid .imagenes .imagen02 img {
    height: auto;
    width: 100%; }
  #main-grid .section02 a {
    text-align: center; }
  #main-grid .section02 #text-index-main-footer .uno {
    padding: 20px; }
  #main-grid .section02 #text-index-main-footer .dos {
    padding: 20px; } }

@media (max-width: 1100px) {
  main .items-stars-deco p {
    margin: 0 20rem; } }

@media (max-width: 990px) {
  main #conjuntos {
    margin: 25px 0;
    flex-wrap: wrap; }
    main #conjuntos > a {
      flex-basis: 25%; }
  main .items-stars-deco p {
    margin: 0 15rem; } }

@media (max-width: 690px) {
  main #conjuntos {
    margin: 25px 0;
    flex-wrap: wrap; }
    main #conjuntos > a {
      flex-basis: 25%; }
  main .items-stars-deco p {
    margin: 0 15rem; } }

@media (max-width: 575px) {
  main #conjuntos {
    margin: 25px 0;
    flex-wrap: wrap; }
    main #conjuntos > a {
      flex-basis: 47%; }
  main .items-stars-deco p {
    margin: 0 10rem; } }

@media (max-width: 475px) {
  main #conjuntos > a {
    flex-basis: 68%; }
  main .items-stars-deco .star-shop-n2 {
    display: none; } }

@media (min-width: 1412px) {
  main #content-item02 .cont-producto .main-izquierda {
    justify-content: center; }
    main #content-item02 .cont-producto .main-izquierda .item02-image01 {
      margin: 10px;
      height: auto;
      width: 330px; } }

@media (max-width: 1412px) {
  main #content-item02 .cont-producto {
    flex-direction: column; }
    main #content-item02 .cont-producto .main-izquierda {
      width: 100%; }
      main #content-item02 .cont-producto .main-izquierda .item02-image01 {
        margin: 20px 0 0 0;
        width: 300px; }
      main #content-item02 .cont-producto .main-izquierda .annotation-line-cont01 {
        top: 0;
        left: 53%;
        width: unset; }
        main #content-item02 .cont-producto .main-izquierda .annotation-line-cont01 .line01-cm {
          width: 110px; }
      main #content-item02 .cont-producto .main-izquierda .annotation-line-cont02 {
        left: -15%; }
      main #content-item02 .cont-producto .main-izquierda .annotation-line-cont03 {
        top: 23%;
        left: 146px; }
      main #content-item02 .cont-producto .main-izquierda .annotation-line-cont04 {
        top: 61%;
        left: 73px; }
    main #content-item02 .cont-producto .main-derecha {
      display: flex;
      flex-wrap: wrap;
      width: unset;
      justify-content: center; }
      main #content-item02 .cont-producto .main-derecha #product-cont {
        justify-content: center; } }

@media (max-width: 1250px) {
  main #content-item02 .cont-producto .main-izquierda .annotation-line-cont01 {
    left: 53%; }
    main #content-item02 .cont-producto .main-izquierda .annotation-line-cont01 .line01-cm {
      width: 126px; }
  main #content-item02 .cont-producto .main-izquierda .annotation-line-cont03 {
    top: 24%;
    left: 170px; }
  main #content-item02 .cont-producto .main-izquierda .annotation-line-cont04 {
    top: 62%;
    left: 90px; } }

@media (max-width: 1024px) {
  main #content-item02 .cont-producto .main-izquierda .annotation-line-cont03 {
    top: 24%;
    left: 190px; }
  main #content-item02 .cont-producto .main-izquierda .annotation-line-cont04 {
    top: 61%;
    left: 112px; } }

@media (max-width: 960px) {
  main #content-item02 .cont-producto .main-izquierda {
    justify-content: center; }
    main #content-item02 .cont-producto .main-izquierda .annotation-line-cont03 {
      top: 24%;
      left: 190px; }
    main #content-item02 .cont-producto .main-izquierda .annotation-line-cont04 {
      top: 61%;
      left: 112px; }
  main #content-item02 .sub-footer-izquierda {
    display: none; } }

@media (max-width: 768px) {
  main #content-item02 .cont-producto .main-izquierda .annotation-line-cont03 {
    top: 25%;
    left: 210px; }
  main #content-item02 .cont-producto .main-izquierda .annotation-line-cont04 {
    top: 62%;
    left: 132px; }
  main #content-item02 .sub-footer-izquierda {
    display: none; } }

@media (max-width: 675px) {
  main #content-item02 .cont-producto .main-derecha .sub-main-derecha .sub-main-cont-derecha {
    overflow: auto;
    white-space: nowrap; }
    main #content-item02 .cont-producto .main-derecha .sub-main-derecha .sub-main-cont-derecha #tabla-talles {
      padding: 50px 0;
      overflow: auto;
      white-space: nowrap; } }

@media (max-width: 575px) {
  main #content-item02 .cont-producto .main-derecha .section-01-info {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center; }
    main #content-item02 .cont-producto .main-derecha .section-01-info .product-info {
      padding: 0;
      margin: 15px 15px; }
    main #content-item02 .cont-producto .main-derecha .section-01-info .inner-being-box-item-product {
      padding: 0;
      margin: 25px 0; }
  main #content-item02 .cont-producto .main-derecha .sub-main-derecha {
    overflow: auto;
    white-space: nowrap; }
    main #content-item02 .cont-producto .main-derecha .sub-main-derecha .sub-main-cont-derecha {
      overflow: auto;
      white-space: nowrap; }
      main #content-item02 .cont-producto .main-derecha .sub-main-derecha .sub-main-cont-derecha section .sub-main-cont-derecha {
        overflow: auto;
        white-space: nowrap; }
  main #content-item02 .cont-producto .main-izquierda .annotation-line-cont03 {
    top: 25%;
    left: 171px; }
    main #content-item02 .cont-producto .main-izquierda .annotation-line-cont03 .line03-falda {
      width: 101px; }
  main #content-item02 .cont-producto .main-izquierda .annotation-line-cont04 {
    top: 62%;
    left: 152px; }
  main #content-item02 .sub-footer-izquierda {
    display: none; } }

@media (max-width: 485px) {
  main #content-item02 .main-izquierda .annotation-line-cont02 .line02-top {
    width: 74px; }
  main #content-item02 .main-izquierda .annotation-line-cont03 {
    top: 25%;
    left: 156px; }
    main #content-item02 .main-izquierda .annotation-line-cont03 .line03-falda {
      width: 101px; }
  main #content-item02 .main-izquierda .annotation-line-cont04 {
    top: 62%;
    left: 152px; } }

@media (max-width: 430px) {
  main .main-izquierda .annotation-line-cont03 {
    top: 25%;
    left: 156px; }
    main .main-izquierda .annotation-line-cont03 .line03-falda {
      width: 101px; }
  main .main-izquierda .annotation-line-cont04 {
    top: 62%;
    left: 152px; } }

@media (max-width: 480px) {
  main #content-item02 .cont-producto .main-izquierda {
    justify-content: center; }
    main #content-item02 .cont-producto .main-izquierda .annotation-line-cont01 {
      left: 53%;
      top: -20px; }
      main #content-item02 .cont-producto .main-izquierda .annotation-line-cont01 .line01-cm {
        width: 59px; }
      main #content-item02 .cont-producto .main-izquierda .annotation-line-cont01 p {
        align-self: unset;
        padding-bottom: 38px; }
    main #content-item02 .cont-producto .main-izquierda .annotation-line-cont02 {
      left: -16%;
      top: 117px; }
      main #content-item02 .cont-producto .main-izquierda .annotation-line-cont02 .line02-top {
        width: 49px; }
    main #content-item02 .cont-producto .main-izquierda .annotation-line-cont03 {
      top: 32%;
      left: 126px; }
      main #content-item02 .cont-producto .main-izquierda .annotation-line-cont03 .line03-falda {
        width: 45px;
        margin-bottom: 24px; }
    main #content-item02 .cont-producto .main-izquierda .annotation-line-cont04 {
      top: 59%;
      left: 124px; }
      main #content-item02 .cont-producto .main-izquierda .annotation-line-cont04 .line04-polainas {
        width: 35px; }
  main #content-item02 .cont-producto .main-derecha .product-var-cont .product-var {
    margin-right: 16px; }
  main #content-item02 .cont-producto .main-derecha .sub-main-derecha .star-img-cont-flex .item02-image02 {
    width: 100%; } }

@media (max-width: 320px) {
  #content-item02 .cont-producto .star-img-cont-flex .star-deco-product {
    display: none; } }

@media (max-width: 768px) {
  main .main-content-origen #paleta-colores-origen .color {
    margin: 0; }
  main .main-content-origen .origen-text .texto01-origen, main .main-content-origen .origen-text .texto02-origen {
    padding: 50px 0; }
  main .main-content-origen .ibb-origen {
    margin: 0; } }

@media (max-width: 575px) {
  main .main-content-origen .origen-text {
    margin: 11px 24px;
    text-align: center; } }

@media (max-width: 768px) {
  main .main-content-origen .origen-text {
    margin: 11px 24px;
    text-align: center; } }

@media (max-width: 768px) {
  #contacto .nav-bar-breadcrumb {
    margin: 4% 0; } }

@media (max-width: 425px) {
  #contacto .nav-bar-breadcrumb .next-arrow-producto {
    margin-left: 42%; }
  #contacto .contacto-box {
    margin: 4rem 2% 4rem 2%; }
  #contacto .inner-being-box {
    margin: 0 48px; } }

@media (max-width: 320px) {
  #contacto .nav-bar-breadcrumb .next-arrow-producto {
    margin-left: 34%; } }

@media (max-width: 575px) {
  .footer .footer-body .footer-main {
    flex-wrap: wrap; }
    .footer .footer-body .footer-main .contacto-footer-575 {
      display: inline; }
    .footer .footer-body .footer-main .contacto-footer {
      display: none; } }
