* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-family: 'Space Mono', monospace; }
  * a {
    color: black;
    text-decoration: none; }
  * li {
    list-style-type: none; }
  * p {
    font-size: 18px; }

.inner-being-box {
  border: solid 1px black; }

@keyframes up-reload {
  from {
    margin: 125px 74px; }
  to {
    margin: 75px 74px; } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes scale-a-bit {
  0% {
    transform: scale(10%); }
  100% {
    transform: scale(50%); } }

.inner-being-box {
  border: solid 1px black; }

@keyframes up-reload {
  from {
    margin: 125px 74px; }
  to {
    margin: 75px 74px; } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes scale-a-bit {
  0% {
    transform: scale(10%); }
  100% {
    transform: scale(50%); } }

.nav-bar-bg {
  position: fixed;
  width: 100%;
  height: 30px;
  background-color: white;
  z-index: 0; }

.nav-items-query {
  display: none; }
  .nav-items-query .h5 {
    margin-left: 47px; }

#main-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr); }
  #main-grid .aher-header-title {
    grid-column: 1/7;
    display: flex;
    margin-top: 15px;
    justify-content: center;
    text-align: center; }
  #main-grid .cont-flex {
    margin-top: 15px;
    grid-column: 3/5;
    justify-content: center;
    align-items: center; }
  #main-grid .introduccion {
    margin-top: 32px;
    grid-column: 1/9; }
    #main-grid .introduccion h2 {
      text-align: center;
      grid-column: 2/6; }
    #main-grid .introduccion p {
      margin: 75px 74px; }
  #main-grid .estrella {
    padding: 0 10px; }
  #main-grid .RECONNECTION {
    grid-row: 3/4;
    grid-column: 1/2;
    justify-content: flex-end;
    display: flex; }
  #main-grid .RECONNECTION:hover {
    transform: scale(1.01); }
  #main-grid .SUSTENTABILIDAD {
    grid-column: 6/7;
    grid-row: 3/4;
    justify-content: flex-start;
    display: flex; }
  #main-grid .SUSTENTABILIDAD:hover {
    transform: scale(1.01); }
  #main-grid .AUTENTICIDAD {
    padding: 15px;
    grid-column: 3/5;
    grid-row: 4/5;
    justify-content: center;
    display: flex; }
  #main-grid .AUTENTICIDAD:hover {
    transform: scale(1.01); }
  #main-grid .nav-bar-breadcrumb {
    grid-column: 2/6;
    grid-row: 6;
    justify-content: space-between; }
    #main-grid .nav-bar-breadcrumb .next-arrow-producto {
      margin-left: 0; }
  #main-grid .section01 {
    grid-column: 2/6;
    grid-row: 5/6;
    display: grid; }
    #main-grid .section01 .elements {
      grid-column: 1/5;
      margin: 60px 35px; }
      #main-grid .section01 .elements .cont-flex {
        align-items: center;
        justify-content: space-around; }
        #main-grid .section01 .elements .cont-flex p {
          margin-top: -20px; }
          #main-grid .section01 .elements .cont-flex p .inner-being-box {
            margin-left: 20%; }
    #main-grid .section01 .quote {
      grid-column: 1/5; }
  #main-grid .star {
    margin-left: 35px; }
  #main-grid .imagenes {
    grid-column: 1/7;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    justify-content: center;
    align-items: center; }
    #main-grid .imagenes .imagen01 img {
      padding-top: 15rem; }
    #main-grid .imagenes .imagen02 img {
      height: auto;
      width: auto;
      padding: 0 50px 50px 50px; }
    #main-grid .imagenes .imagen03 img {
      padding-top: 15rem; }
  #main-grid * img:hover {
    transform: scale(1.01); }
  #main-grid .section02 {
    grid-column: 1/7;
    margin-top: 100px; }
    #main-grid .section02 a h2 {
      text-align: center; }
    #main-grid .section02 a h2:hover {
      transform: scale(1.01); }
    #main-grid .section02 #text-index-main-footer {
      flex-direction: column;
      margin: 50px 0 60px; }
      #main-grid .section02 #text-index-main-footer .uno {
        padding: 75px;
        border-top: dashed #cccccc 2px; }
      #main-grid .section02 #text-index-main-footer .dos {
        padding: 24px 75px; }
  #main-grid .footer {
    grid-column: 1/8; }

.inner-being-box {
  border: solid 1px black; }

@keyframes up-reload {
  from {
    margin: 125px 74px; }
  to {
    margin: 75px 74px; } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes scale-a-bit {
  0% {
    transform: scale(10%); }
  100% {
    transform: scale(50%); } }

main .aher-header-title {
  display: flex;
  margin-top: 15px;
  justify-content: center;
  align-items: center; }

main .contenido-intro {
  height: auto;
  width: 100%; }
  main .contenido-intro h2 {
    margin-top: 2rem;
    text-align: center; }
  main .contenido-intro .intro-star {
    text-align: center;
    padding-left: 13rem;
    margin-top: 0; }
  main .contenido-intro .intro-coleccion {
    margin-bottom: 1rem;
    text-align: center; }
  main .contenido-intro .intro-shop-p {
    display: flex;
    justify-content: center;
    margin: 15px; }
    main .contenido-intro .intro-shop-p p {
      text-align: center;
      width: 60rem; }

main .cont-nav {
  margin: 1rem;
  justify-content: space-around; }
  main .cont-nav .logo04 {
    height: 1.2rem; }

main #conjuntos {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 25px; }
  main #conjuntos .img {
    height: auto;
    width: 100%;
    border: dashed #cccccc 2px; }
  main #conjuntos a:hover {
    transform: scale(1.01); }

main .items-stars-deco p {
  margin: 0 30rem; }

.inner-being-box {
  border: solid 1px black; }

@keyframes up-reload {
  from {
    margin: 125px 74px; }
  to {
    margin: 75px 74px; } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes scale-a-bit {
  0% {
    transform: scale(10%); }
  100% {
    transform: scale(50%); } }

#content-item02 .aher-header-title {
  display: flex;
  margin-top: 15px;
  justify-content: center;
  align-items: center; }

#content-item02 div .next-arrow-producto {
  margin-left: 50%; }

#content-item02 .cont-producto .main-izquierda {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 50%; }
  #content-item02 .cont-producto .main-izquierda .logo-deco-producto {
    display: inline-block;
    height: 2.2rem; }
  #content-item02 .cont-producto .main-izquierda a {
    position: absolute;
    bottom: 400px;
    left: 36px; }
  #content-item02 .cont-producto .main-izquierda .annotation-line-cont01 {
    position: absolute;
    top: -1%;
    left: 54%;
    z-index: 1000;
    width: 20%;
    height: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end; }
    #content-item02 .cont-producto .main-izquierda .annotation-line-cont01 p {
      align-self: center;
      padding-top: 27px; }
    #content-item02 .cont-producto .main-izquierda .annotation-line-cont01 .line01-cm {
      width: 200px;
      height: 0.8px;
      display: block;
      background-color: black;
      transform: rotate(320deg);
      transform-origin: top left; }
  #content-item02 .cont-producto .main-izquierda .annotation-line-cont02 {
    position: absolute;
    top: 12%;
    left: -18%;
    z-index: 1000;
    width: 60%;
    height: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end; }
    #content-item02 .cont-producto .main-izquierda .annotation-line-cont02 .line02-top {
      width: 125px;
      height: 0.8px;
      display: block;
      background-color: black; }
  #content-item02 .cont-producto .main-izquierda .annotation-line-cont03 {
    position: absolute;
    top: 25%;
    left: 30%;
    z-index: 1000;
    width: 60%;
    height: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end; }
    #content-item02 .cont-producto .main-izquierda .annotation-line-cont03 .line03-falda {
      width: 125px;
      height: 0.8px;
      display: block;
      background-color: black; }
  #content-item02 .cont-producto .main-izquierda .annotation-line-cont04 {
    position: absolute;
    top: 66%;
    left: 19%;
    z-index: 1000;
    width: 60%;
    height: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    align-items: normal; }
    #content-item02 .cont-producto .main-izquierda .annotation-line-cont04 .line04-polainas {
      width: 75px;
      height: 0.8px;
      display: block;
      background-color: black; }
    #content-item02 .cont-producto .main-izquierda .annotation-line-cont04 .line04-polainas-ext {
      width: 0.8px;
      height: 30px;
      display: block;
      background-color: black; }
    #content-item02 .cont-producto .main-izquierda .annotation-line-cont04 p {
      padding-top: 27px; }
  #content-item02 .cont-producto .main-izquierda .image04 {
    height: auto;
    width: 40%; }
  #content-item02 .cont-producto .main-izquierda .cont-flex-info {
    display: flex;
    justify-content: center; }
    #content-item02 .cont-producto .main-izquierda .cont-flex-info .item-info {
      text-align: center;
      margin: 7%; }
  #content-item02 .cont-producto .main-izquierda .image04-media {
    display: none; }

#content-item02 .cont-producto .main-izquierda > * {
  display: inline-block; }

#content-item02 .cont-producto .main-derecha {
  width: 50%; }
  #content-item02 .cont-producto .main-derecha * li {
    list-style-type: disc !important; }
  #content-item02 .cont-producto .main-derecha .section-01-info {
    display: flex; }
    #content-item02 .cont-producto .main-derecha .section-01-info .product-info {
      margin-top: 10px;
      display: inline-block;
      padding: 0 4rem 1rem 1rem; }
    #content-item02 .cont-producto .main-derecha .section-01-info .inner-being-box-item-product {
      padding: 10px 0 14px 50px; }
  #content-item02 .cont-producto .main-derecha .product-var-cont {
    width: 100%;
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap; }
    #content-item02 .cont-producto .main-derecha .product-var-cont .product-var {
      font-size: larger;
      width: 45px;
      height: 45px;
      margin-right: 23px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase !important;
      position: relative;
      margin-bottom: 10px;
      background-color: #f7f7f7; }
    #content-item02 .cont-producto .main-derecha .product-var-cont .product-var:hover {
      background-color: #d9d9d9; }
  #content-item02 .cont-producto .main-derecha .sub-main-derecha {
    margin-top: 100px; }
    #content-item02 .cont-producto .main-derecha .sub-main-derecha .star-img-cont-flex {
      display: flex;
      position: relative;
      justify-content: center;
      align-content: center; }
      #content-item02 .cont-producto .main-derecha .sub-main-derecha .star-img-cont-flex span {
        position: absolute;
        align-self: center;
        padding-right: 100px;
        left: 0; }
      #content-item02 .cont-producto .main-derecha .sub-main-derecha .star-img-cont-flex .image05 {
        height: auto;
        width: 70%; }
    #content-item02 .cont-producto .main-derecha .sub-main-derecha #tabla-talles {
      margin-top: 100px;
      padding: 50px;
      display: inline-grid;
      grid-template-columns: auto auto auto auto;
      column-gap: 100px;
      row-gap: 10px;
      border: dashed #cccccc 2px; }
      #content-item02 .cont-producto .main-derecha .sub-main-derecha #tabla-talles * p {
        align-self: center;
        inline-size: max-content; }
      #content-item02 .cont-producto .main-derecha .sub-main-derecha #tabla-talles p {
        grid-column: 1/5; }
      #content-item02 .cont-producto .main-derecha .sub-main-derecha #tabla-talles .sizes {
        display: flex;
        flex-direction: column; }
      #content-item02 .cont-producto .main-derecha .sub-main-derecha #tabla-talles .busto-sizes {
        display: flex;
        flex-direction: column; }
      #content-item02 .cont-producto .main-derecha .sub-main-derecha #tabla-talles .cintura-sizes {
        display: flex;
        flex-direction: column; }
      #content-item02 .cont-producto .main-derecha .sub-main-derecha #tabla-talles .cadera-sizes {
        display: flex;
        flex-direction: column; }

@media (min-width: 1412px) {
  main #content-item02 .cont-producto .main-izquierda {
    justify-content: center; }
    main #content-item02 .cont-producto .main-izquierda .image04 {
      margin: 10px;
      height: auto;
      width: 40%; } }

@media (max-width: 1412px) {
  main #content-item02 .cont-producto {
    flex-direction: column; }
    main #content-item02 .cont-producto .main-izquierda .image04 {
      margin: 20px 0 0 0; } }

@media (max-width: 960px) {
  main #content-item02 .cont-producto .main-izquierda {
    justify-content: center; }
    main #content-item02 .cont-producto .main-izquierda .image04 {
      height: auto;
      width: 85%; }
  main #content-item02 .sub-footer-izquierda {
    display: none; } }

@media (max-width: 675px) {
  main #content-item02 .cont-producto .main-izquierda {
    justify-content: center; }
    main #content-item02 .cont-producto .main-izquierda .image04 {
      height: auto;
      width: 100%; } }

@media (max-width: 500px) {
  main #content-item02 .nav-bar-breadcrumb .next-arrow-producto {
    margin-left: 14%; }
  main #content-item02 .cont-producto .main-izquierda {
    justify-content: center; }
    main #content-item02 .cont-producto .main-izquierda .image04 {
      display: none; } }

.inner-being-box {
  border: solid 1px black; }

@keyframes up-reload {
  from {
    margin: 125px 74px; }
  to {
    margin: 75px 74px; } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes scale-a-bit {
  0% {
    transform: scale(10%); }
  100% {
    transform: scale(50%); } }

.main-content-origen .aher-header-title {
  display: flex;
  margin-top: 15px;
  justify-content: center;
  align-items: center; }

.main-content-origen .image06 {
  width: 60rem;
  height: auto;
  margin: 50px 50px 50px 250px; }

.main-content-origen #paleta-colores-origen {
  display: flex;
  justify-content: center; }
  .main-content-origen #paleta-colores-origen .color {
    width: 200px;
    height: 20px;
    margin: 10px; }
  .main-content-origen #paleta-colores-origen .uno {
    background-color: #6d7c6e; }
  .main-content-origen #paleta-colores-origen .dos {
    background-color: #A8A2A2; }
  .main-content-origen #paleta-colores-origen .tres {
    background-color: #AF918C; }
  .main-content-origen #paleta-colores-origen .cuatro {
    background-color: #CBAE91; }
  .main-content-origen #paleta-colores-origen .cinco {
    background-color: #D3C2B2; }
  .main-content-origen #paleta-colores-origen .seis {
    background-color: #D8CBC0; }

.main-content-origen .origen-text {
  display: flex;
  flex-direction: column;
  margin: 15px; }
  .main-content-origen .origen-text .texto01-origen {
    align-self: center;
    padding: 50px 75px; }
  .main-content-origen .origen-text .texto02-origen {
    align-self: center;
    padding: 50px 75px; }

.main-content-origen .ibb-origen {
  margin: 50px;
  display: flex;
  justify-content: center; }

#contacto .aher-header-title {
  display: flex;
  margin-top: 15px;
  justify-content: center;
  align-items: center; }

#contacto .contacto-p {
  padding-left: 25%; }

#contacto .contacto-box {
  background-color: rgba(196, 196, 196, 0.2);
  margin: 4rem 4rem 4rem 25%;
  display: inline-block;
  text-align: center;
  width: auto;
  padding: 4rem;
  border-style: solid;
  border-width: 1px; }

.inner-being-box {
  border: solid 1px black; }

@keyframes up-reload {
  from {
    margin: 125px 74px; }
  to {
    margin: 75px 74px; } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes scale-a-bit {
  0% {
    transform: scale(10%); }
  100% {
    transform: scale(50%); } }

main .error404 {
  font-size: xxx-large !important;
  background-color: rgba(196, 196, 196, 0.2);
  display: flex;
  flex-direction: column; }
  main .error404 .error {
    color: rgba(255, 0, 0, 0.64); }
  main .error404 .atras {
    padding-top: 100px; }

.logo-union-footer a .logo-footer {
  animation: spin 2s linear infinite;
  left: 49%;
  position: relative;
  top: 23px;
  height: 2.2rem; }

.footer {
  position: sticky; }
  .footer .footer-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f8f7f5; }
    .footer .footer-body .footer-header {
      margin: 30px auto 10px 2%; }
    .footer .footer-body .footer-main {
      display: flex;
      justify-content: space-around;
      padding: 2% 0 5% 0; }
      .footer .footer-body .footer-main .redes-border {
        display: inline;
        width: fit-content;
        box-sizing: content-box;
        padding: 20px;
        border-style: solid;
        border-width: 1px; }
        .footer .footer-body .footer-main .redes-border * p {
          display: inline-block; }
        .footer .footer-body .footer-main .redes-border .tik-tok {
          margin: auto 50px auto 15px; }
        .footer .footer-body .footer-main .redes-border .instagram {
          margin: auto 15px auto auto; }
      .footer .footer-body .footer-main .contacto-footer-575 {
        display: none; }
      .footer .footer-body .footer-main .contacto-footer {
        display: inline; }
        .footer .footer-body .footer-main .contacto-footer p {
          text-align: end;
          display: inline-block; }
  .footer .contenedor-footer-contacto {
    height: 310px;
    width: 100%;
    background-color: #F8F7F5; }
    .footer .contenedor-footer-contacto .footer-header {
      margin: 30px auto 10px 2%; }
    .footer .contenedor-footer-contacto .cont-footer-main-flex-contacto {
      display: flex;
      flex-wrap: nowrap;
      margin: 50px 10% 50px 25%; }
      .footer .contenedor-footer-contacto .cont-footer-main-flex-contacto .redes-border {
        box-sizing: content-box;
        padding: 20px;
        border-style: solid;
        border-width: 1px; }
        .footer .contenedor-footer-contacto .cont-footer-main-flex-contacto .redes-border * p {
          display: inline-block; }
        .footer .contenedor-footer-contacto .cont-footer-main-flex-contacto .redes-border .tik-tok {
          margin: auto 50px auto 15px; }
        .footer .contenedor-footer-contacto .cont-footer-main-flex-contacto .redes-border .instagram {
          margin: auto 15px auto auto; }

@media (max-width: 1024px) {
  .nav-items {
    display: none;
    position: absolute; }
  #main-grid .imagen01 {
    display: none;
    position: absolute; } }

@media (min-width: 768px) {
  .nav-bar-og .shop {
    margin-left: 50%; }
  .nav-bar-og .origen {
    margin-left: 1%; } }

@media (max-width: 768px) {
  .nav-bar-og .nav.cont {
    margin-top: 24px;
    gap: 260px; }
  #main-grid .introduccion {
    grid-column: 1/7; }
    #main-grid .introduccion p {
      text-align: center; }
  #main-grid .section01 {
    grid-column: 1/7; }
  #main-grid .imagenes .imagen02 img {
    height: 88%;
    width: auto;
    padding: 0; }
  #main-grid .imagenes .imagen03 img {
    display: none;
    position: absolute; }
  #main-grid .section02 {
    grid-column: 1/7;
    margin-top: 3rem; }
    #main-grid .section02 .text {
      flex-wrap: wrap; }
  #contacto .nav-bar-breadcrumb {
    margin: 4% 0; } }

@media (max-width: 575px) {
  .footer .footer-body .footer-main {
    flex-wrap: wrap; }
    .footer .footer-body .footer-main .contacto-footer-575 {
      display: inline; }
    .footer .footer-body .footer-main .contacto-footer {
      display: none; } }

@media (max-width: 425px) {
  .nav-og-star-right {
    right: 5px;
    top: 30px; }
  .nav-items-query {
    display: flex;
    justify-content: space-between; }
  #main-grid .section01 .cont-flex {
    flex-wrap: wrap; }
    #main-grid .section01 .cont-flex h5 {
      padding: 19% 0; }
    #main-grid .section01 .cont-flex .inner-being-box {
      margin-left: 4%; }
  #main-grid .imagenes .imagen02 img {
    height: auto;
    width: 100%; }
  #main-grid .section02 a {
    text-align: center; }
  #contacto .nav-bar-breadcrumb .next-arrow-producto {
    margin-left: 42%; }
  #contacto .contacto-box {
    margin: 4rem 2% 4rem 2%; }
  #contacto .inner-being-box {
    margin: 0 48px; } }

@media (max-width: 320px) {
  #contacto .nav-bar-breadcrumb .next-arrow-producto {
    margin-left: 34%; } }

.nav-og-star-right {
  position: absolute;
  right: 10px;
  animation: spin 2s linear infinite; }

.nav-bar-og {
  display: flex;
  justify-content: space-evenly; }
  .nav-bar-og .logo-div {
    align-items: center;
    width: 1rem; }

.nav-bar-breadcrumb {
  justify-content: space-around; }
  .nav-bar-breadcrumb .next-arrow-producto {
    margin-left: 50%; }

.inner-being-box {
  display: inline-block;
  text-align: center;
  width: auto;
  padding: 0.9rem 1.8rem 1.8rem 1.8rem; }

.cont-flex {
  display: flex; }

.cont-just-c-center {
  justify-content: center; }
