* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-family: 'Space Mono', monospace; }
  * a {
    color: black;
    text-decoration: none; }
  * p {
    font-size: 16px;
    margin-bottom: 0 !important; }
  * h2 {
    font-size: 20px; }
  * .h1, * .h2, * .h3, * .h4, * .h5, * .h6, * h1, * h2, * h3, * h4, * h5, * h6 {
    line-height: normal !important; }
  * ul {
    padding-bottom: 0;
    padding-left: 0;
    margin-bottom: 0; }
  * li {
    list-style-type: none; }

.link-* {
  color: black;
  text-decoration: none; }

.inner-being-box {
  border: solid 1px; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.nav-bar-bg {
  position: fixed;
  width: 100%;
  height: 30px;
  background-color: white;
  z-index: 0; }

.nav-items-query {
  display: none; }
  .nav-items-query .h5 {
    margin-left: 47px; }

#main-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr); }
  #main-grid .introduccion {
    margin-top: 75px;
    grid-column: 2/6; }
    #main-grid .introduccion h5 {
      text-align: center;
      grid-column: 2/6; }
    #main-grid .introduccion p {
      margin-top: 3%;
      margin-bottom: 6%; }
  #main-grid .section01 {
    grid-column: 2/6;
    display: grid; }
    #main-grid .section01 .elements {
      padding-top: 20px;
      grid-column: 1/5;
      margin: 35px; }
      #main-grid .section01 .elements .cont-flex {
        align-items: center;
        justify-content: space-around; }
        #main-grid .section01 .elements .cont-flex p {
          margin-top: -20px; }
          #main-grid .section01 .elements .cont-flex p .inner-being-box {
            margin-left: 20%; }
    #main-grid .section01 .quote {
      grid-column: 1/5; }
  #main-grid .star01 {
    padding-left: 90%; }
  #main-grid .imagenes {
    grid-column: 1/7;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    justify-content: center;
    align-items: center; }
    #main-grid .imagenes .imagen01 img {
      padding-top: 15rem; }
    #main-grid .imagenes .imagen02 img {
      height: auto;
      width: auto;
      padding: 0 50px 50px 50px; }
    #main-grid .imagenes .imagen03 img {
      padding-top: 15rem; }
  #main-grid .section02 {
    grid-column: 2/6; }
    #main-grid .section02 .text {
      margin: 50px 0 60px;
      gap: 10%; }
  #main-grid .footer {
    grid-column: 1/8; }

.inner-being-box {
  border: solid 1px; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

main .contenido-intro {
  height: auto;
  width: 100%; }
  main .contenido-intro h2 {
    margin-top: 5rem;
    text-align: center; }
  main .contenido-intro .intro-star {
    text-align: center;
    padding-left: 13rem;
    margin-top: 1.3999999999999986rem; }
  main .contenido-intro .intro-coleccion {
    margin-bottom: 1rem;
    text-align: center; }

main .contenido-intro {
  height: auto;
  width: 100%; }
  main .contenido-intro h2 {
    margin-top: 5rem;
    text-align: center; }
  main .contenido-intro .intro-star {
    text-align: center;
    padding-left: 13rem;
    margin-top: 1.3999999999999986rem; }
  main .contenido-intro .intro-coleccion {
    margin-bottom: 1rem;
    text-align: center; }

main .cont-nav {
  margin: 1rem;
  justify-content: space-around; }
  main .cont-nav .logo04 {
    height: 1.2rem; }

main #carousel-cont {
  margin-top: 5%;
  display: none;
  justify-content: center; }
  main #carousel-cont * p {
    padding-top: 35px;
    text-align: center; }
  main #carousel-cont .carousel-control-next,
  main #carousel-cont .carousel-control-prev {
    filter: invert(100%);
    margin: 0 -50px;
    padding: 0 11px; }
  main #carousel-cont .carousel {
    display: block;
    position: relative; }

main .items-stars-deco-carousel {
  display: none; }

main .conjuntos p {
  margin: 5.4%; }

main .conjuntos .items-stars-deco {
  margin: 20px; }
  main .conjuntos .items-stars-deco p {
    margin: 0 30rem; }

main .conjuntos .cont-flex img {
  height: auto;
  width: 88%; }

@media (max-width: 1250px) {
  main .conjuntos p {
    margin: 5% 4.4% 5% 5%; } }

@media (max-width: 1024px) {
  main .cont-nav {
    justify-content: space-around; }
    main .cont-nav .nav-items-shop {
      margin-left: 0; }
      main .cont-nav .nav-items-shop .nav-back {
        margin: 0; }
    main .cont-nav .logo04 {
      margin: 0; }
  main #carousel-cont {
    display: flex;
    justify-content: center; }
    main #carousel-cont .carousel {
      display: block;
      position: relative; }
  main .items-stars-deco-carousel {
    display: flex;
    justify-content: space-around;
    margin: 20px; }
  main .conjuntos {
    display: none; } }

.content-item02 div .next-arrow-producto {
  margin-left: 50%; }

.content-item02 .cont-producto-completo .sub-header-izquierda {
  display: inline-block; }
  .content-item02 .cont-producto-completo .sub-header-izquierda .logo-deco-producto {
    display: inline-block;
    height: 2.2rem; }
  .content-item02 .cont-producto-completo .sub-header-izquierda img {
    margin: 19px 0 64px 0; }
  .content-item02 .cont-producto-completo .sub-header-izquierda a {
    position: absolute; }
  .content-item02 .cont-producto-completo .sub-header-izquierda img {
    margin: 5rem 3rem -38rem 0; }

.content-item02 .cont-producto-completo .sub-header-izquierda > * {
  display: inline-block; }

.content-item02 .cont-producto-completo .sub-header-derecha .product-info {
  margin-top: 64px;
  display: inline-block;
  padding: 0 4rem 1rem 4rem; }

.content-item02 .cont-producto-completo .sub-header-derecha .inner-being-box-item-product {
  padding-left: 513px;
  padding-top: 8px;
  padding-bottom: 14px; }

.content-item02 .cont-producto-completo .sub-header-derecha .size-selector-img {
  margin: -111px 50px 50px 50px; }

.content-item02 .cont-producto-completo .sub-main-derecha .star-deco-product {
  display: inline-block;
  margin: 4px 117px 63px 51px; }

.content-item02 .sub-footer .empty-div03-separador {
  height: auto;
  width: 383px; }

.content-item02 .sub-footer .sub-footer-izquierda .item-aher002 {
  text-align: center; }

.content-item02 .sub-footer .sub-footer-izquierda .item-aher002-product-info {
  padding-top: 50px; }

.content-item02 .sub-footer .empty-div04-separador {
  height: auto;
  width: 187px; }

.content-item02 .sub-footer .sub-footer-derecha .tabla-de-tallas {
  margin: 9px 150px 51px 70px;
  width: 542px;
  height: auto; }

.content-item02 .sub-footer .empty-div05-separador {
  height: auto;
  width: 195px; }

.main-content-origen .image06 {
  width: 60rem;
  height: auto;
  margin: 50px 50px 50px 250px; }

.main-content-origen .cont-flex .span-p-origen {
  padding: 100px 80px; }
  .main-content-origen .cont-flex .span-p-origen .primer-p-origen {
    margin-bottom: 100px; }
  .main-content-origen .cont-flex .span-p-origen .segundo-p-origen {
    margin-bottom: 100px; }
  .main-content-origen .cont-flex .span-p-origen .inner-being-box {
    position: absolute;
    margin: 8%; }

.main-content-origen .cont-flex .image07 {
  margin-left: 100px;
  margin-bottom: 50px; }

.contacto-p {
  padding-left: 25%; }

.contacto-box {
  background-color: rgba(196, 196, 196, 0.2);
  margin: 4rem 4rem 4rem 25%;
  display: inline-block;
  text-align: center;
  width: auto;
  padding: 4rem;
  border-style: solid;
  border-width: 1px; }

@media (max-width: 1024px) {
  .nav-items {
    display: none;
    position: absolute; }
  #main-grid .imagen01 {
    display: none;
    position: absolute; } }

@media (min-width: 768px) {
  .nav-bar-og .shop {
    margin-left: 50%; }
  .nav-bar-og .origen {
    margin-left: 1%; } }

@media (max-width: 768px) {
  .nav-bar-og .nav.cont {
    margin-top: 24px;
    gap: 260px; }
  #main-grid .introduccion {
    grid-column: 1/7; }
    #main-grid .introduccion p {
      text-align: center; }
  #main-grid .section01 {
    grid-column: 1/7; }
  #main-grid .imagenes .imagen02 img {
    height: 88%;
    width: auto;
    padding: 0; }
  #main-grid .imagenes .imagen03 img {
    display: none;
    position: absolute; }
  #main-grid .section02 {
    grid-column: 1/7;
    margin-top: 3rem; }
    #main-grid .section02 .text {
      flex-wrap: wrap; }
  #contacto .nav-bar-breadcrumb {
    margin: 4% 0; } }

@media (max-width: 575px) {
  .footer .footer-body .footer-main {
    flex-wrap: wrap; }
    .footer .footer-body .footer-main .contacto-footer-575 {
      display: inline; }
    .footer .footer-body .footer-main .contacto-footer {
      display: none; } }

@media (max-width: 425px) {
  .nav-og-star-right {
    right: 5px;
    top: 30px; }
  .nav-items-query {
    display: flex;
    justify-content: space-between; }
  #main-grid .section01 .cont-flex {
    flex-wrap: wrap; }
    #main-grid .section01 .cont-flex h5 {
      padding: 19% 0; }
    #main-grid .section01 .cont-flex .inner-being-box {
      margin-left: 4%; }
  #main-grid .imagenes .imagen02 img {
    height: auto;
    width: 100%; }
  #main-grid .section02 a {
    text-align: center; }
  #contacto .nav-bar-breadcrumb .next-arrow-producto {
    margin-left: 42%; }
  #contacto .contacto-box {
    margin: 4rem 2% 4rem 2%; }
  #contacto .inner-being-box {
    margin: 0 48px; } }

@media (max-width: 320px) {
  #contacto .nav-bar-breadcrumb .next-arrow-producto {
    margin-left: 34%; } }

.nav-og-star-right {
  position: absolute;
  right: 10px;
  animation: spin 2s linear infinite; }

.nav-bar-og {
  display: flex;
  justify-content: space-evenly; }
  .nav-bar-og .logo-div {
    align-items: center;
    width: 1rem; }
  .nav-bar-og .AHER {
    position: absolute;
    text-align: center; }
    .nav-bar-og .AHER h1 {
      padding-top: 70%; }

.nav-bar-breadcrumb {
  justify-content: space-around; }
  .nav-bar-breadcrumb .next-arrow-producto {
    margin-left: 50%; }

.logo-union-footer a .logo-footer {
  animation: spin 2s linear infinite;
  left: 50%;
  position: relative;
  top: 25px;
  height: 2.2rem; }

.footer {
  position: sticky; }
  .footer .footer-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f8f7f5; }
    .footer .footer-body .footer-header {
      margin: 30px auto 10px 2%; }
    .footer .footer-body .footer-main {
      display: flex;
      justify-content: space-around;
      padding: 2% 0 5% 0; }
      .footer .footer-body .footer-main .redes-border {
        display: inline;
        width: fit-content;
        box-sizing: content-box;
        padding: 20px;
        border-style: solid;
        border-width: 1px; }
        .footer .footer-body .footer-main .redes-border * p {
          display: inline-block; }
        .footer .footer-body .footer-main .redes-border .tik-tok {
          margin: auto 50px auto 15px; }
        .footer .footer-body .footer-main .redes-border .instagram {
          margin: auto 15px auto auto; }
      .footer .footer-body .footer-main .contacto-footer-575 {
        display: none; }
      .footer .footer-body .footer-main .contacto-footer {
        display: inline; }
        .footer .footer-body .footer-main .contacto-footer p {
          text-align: end;
          display: inline-block; }
  .footer .contenedor-footer-contacto {
    height: 310px;
    width: 100%;
    background-color: #F8F7F5; }
    .footer .contenedor-footer-contacto .footer-header {
      margin: 30px auto 10px 2%; }
    .footer .contenedor-footer-contacto .cont-footer-main-flex-contacto {
      display: flex;
      flex-wrap: nowrap;
      margin: 50px 10% 50px 25%; }
      .footer .contenedor-footer-contacto .cont-footer-main-flex-contacto .redes-border {
        box-sizing: content-box;
        padding: 20px;
        border-style: solid;
        border-width: 1px; }
        .footer .contenedor-footer-contacto .cont-footer-main-flex-contacto .redes-border * p {
          display: inline-block; }
        .footer .contenedor-footer-contacto .cont-footer-main-flex-contacto .redes-border .tik-tok {
          margin: auto 50px auto 15px; }
        .footer .contenedor-footer-contacto .cont-footer-main-flex-contacto .redes-border .instagram {
          margin: auto 15px auto auto; }

.inner-being-box {
  display: inline-block;
  text-align: center;
  width: auto;
  padding: 0.9rem 1.8rem 1.8rem 1.8rem; }

.cont-flex {
  display: flex; }

.cont-just-c-center {
  justify-content: center; }
