//import de variables va arriba del tod0

@import "sass/base/reset";
@import "sass/base/generales";
@import "sass/layout/offcanvas-menu";
@import "sass/layout/index";
@import "sass/layout/shop";
@import "sass/layout/item02";
@import "sass/layout/origen";
@import "sass/layout/contacto";
@import "sass/layout/carrito";
@import "sass/layout/error404";
@import "sass/layout/footer";


//mixings are declared at the top
//todo create mixing of inner being box and adapt to all pages con variable de padding
//todo hacer un extend
//todo sacarle el wrap a redes del footer (por lo menos al principio)

//issues solved:

//  sintoma: scss file no estaba compilando a css
//  problema: no estaba leyendo ala consola para fijarme si
//  el deamon estaba compilando adecuadamente
//  solucion: abrir la fucking terminal jaja

//  sintoma:mixings no declarados
//  problema:
//  solucion:declarar los mixings en la parte de arriba

//  sintoma:el media query no me estaba renderizando y no habia ningun tipo de error en la consola
//  problema:typo en imagenes
//  solucion:fijarse si esta tod0 bien escrito

//  sintoma: el css me tababa el media query
//  problema(mi error fue): llamar la clase sin contexto del padre
//  solucion: darle contexto a las clases invocadas


//asegurase de cuando buscar no dejar un espacio al final

//entonces con sass no hace tanto falta hacer clase para tod0

//estieleo del navbar

//para el padding del nav-items-queary use el padding de bootstrap
//si, lo se, me quiero cortar la verga con las paginas que no tengan bt
//entonces, saco el padding que use con boostrap y lo hago de nuevo
//pero usando mi codigo


.nav-og-star-right{
  position: absolute;
  right: 10px;
  animation: spin 2s linear infinite;
}

.nav-bar-og{
  display: flex;
  justify-content: space-evenly;
  .logo-div{
    align-items: center;
    width: 1rem;
  }
  .carrito-logo{
    height: auto;
    width: 2.2rem;
    align-items: center;
  }
}

.nav-bar-breadcrumb{
  justify-content: space-around;
  .next-arrow-producto{
    margin-left: 50%;
  }
}

//utilities (bloques de codigo que se repiten
//entonces los convertimos en partial classes

.inner-being-box {
  display: inline-block;
  text-align: center;
  width: auto;
  padding: 0.9rem 1.8rem 1.8rem 1.8rem;
  @extend %border;
}
.cont-flex{
  display: flex;
}
.cont-just-c-center{
  justify-content: center;
}



// todo PARA EL FINAL HACER UN MIXING B READCRUMLIST PARA EL NAV FOW Y BACK
//https://schema.dev/blog/why-the-breadcrumb-list-schema-markup-is-important-and-how-to-implement-it/

@import "sass/layout/mediaQ/mediaQuery";








