//estileo carrito




#carrito-main{
  .empty-cart{
    text-align: center;
  }
  #cart-components{
    display: grid;
    .carrito{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
        .cart-row{
          display: flex;
          gap: 20%;
        }
    }
  }
  .product-container{
    *{
      font-size: 18px;
      align-self: center;
    }
    * div{
      padding-right: 75px;
    }

    .item{
      background-color: rgb(247, 247, 247);
      padding: 25px;
      margin: $padding-s * 2;
      display: flex;
      justify-content: center;
      align-content: center;
    }

    button{
      margin-right: 175px;
      padding: 10px;
      outline: none;
      border: none;
    }
  }
  #total{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


