//estileo contacto

#contacto{
  .aher-header-title{
    display: flex;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
  }
  .contacto-p{
    padding-left: 25%;
  }
  .contacto-box{
    background-color: rgba(196, 196, 196, 0.2 );
    margin: 4rem 4rem 4rem 25%;
    display: inline-block;
    text-align: center;
    width: auto;
    padding: 4rem;
    border-style: solid;
    border-width: 1px;
  }
}

