///estileo main index + boostrap navbar
@import "sass/base/generales";

.nav-bar-bg{
  position:fixed;
  width: 100%;
  height: 30px;
  background-color: white;
  z-index: 0;
}
.nav-items-query {
  display: none;
  .h5{
    margin-left: 47px;
  }
}
#main-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  .aher-header-title{
    grid-column: 1/7;
    display: flex;
    margin-top: 15px;
    justify-content: center;
    text-align: center;
  }


  .introduccion {
    margin-top: 32px;
    grid-column: 1/9;
    h2 {
      text-align: center;
      grid-column: 2/6;
    }
    p {
      margin: 20px 225px;
      text-align: center;
    }
  }
  .estrella{
    padding: 0 $padding-xs ;
  }
  .nav-bar-breadcrumb{
    grid-column: 2/6;
    grid-row: 6;
    justify-content: space-between;
    .next-arrow-producto{
      margin-left: 0;
    }
  }
  .section01 {
    grid-column: 2/6;
    grid-row: 3/6;
    display: grid;

    .elements {
      grid-column: 1/5;
      margin: 60px 35px;

      .cont-flex{
        align-items: center;
        justify-content: space-around;
        p {
          margin-top: -20px;
          .inner-being-box{
            margin-left: 20%;
          }
        }
      }
    }
    .quote {
      grid-column: 1/5;
    }
  }
  .star{
    margin-left: 35px;
  }
  .imagenes{

    grid-column: 1/7;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    justify-content: center;
    align-items: center;
    .imagen01 img{
      padding-top: 15rem;
    }
    .imagen02 img{
      height: auto;
      width: auto;
      padding: 0 50px 50px 50px;
    }
    .imagen03 img{
      padding-top: 15rem;
    }

  }
  * img:hover{
    transform: scale(1.01);
  }
  .section02 {
    grid-column: 1/7;;
    margin-top: 100px;
  a{
    h2{
      text-align: center;
    }
    h2:hover{
      transform: scale(1.01);
    }
  }

    #text-index-main-footer{
      flex-direction: column;
      margin: 50px 0 60px ;

      .uno{
        padding: 75px;
        border-top: dashed #cccccc 2px;
      }
      .dos{
        padding: 24px 75px;
      }
    }
  }
  .footer{
    grid-column: 1/8;
  }
}


