//estileo origen
.main-content-origen{
  .image06{
    width: 60rem;
    height: auto;
    margin: 50px 50px 50px 250px;
  }
  .cont-flex{
    .span-p-origen{
      padding: 100px 80px;
      .primer-p-origen{
        margin-bottom: 100px;
      }
      .segundo-p-origen{
        margin-bottom: 100px;
      }
      .inner-being-box{
        position: absolute;
        margin: 8%;

      }
    }
    .image07{
      margin-left: 100px;
      margin-bottom: 50px;
    }
  }
}
