//estileo origen
.main-content-origen{
  .aher-header-title{
    display: flex;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
  }
  .image06{
    width: 60rem;
    height: auto;
    margin: 50px 50px 50px 250px;
  }
  .span-p-origen{
    padding: 100px 80px;
    .primer-p-origen{
        margin: 100px;
      }
      .segundo-p-origen{
        margin: 100px;
      }
    }
  .cont-flex-image07{
    display: flex;
    justify-content: end;
    .image07{
      margin-left: 100px;
      margin-bottom: 50px;
    }
  }
}

