///estileo main index + boostrap navbar


.nav-bar-bg{
  position:fixed;
  width: 100%;
  height: 30px;
  background-color: white;
  z-index: 0;
}
.nav-items-query {
  display: none;
  .h5{
    margin-left: 47px;
  }
}
#main-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  .introduccion {
    margin-top: 75px;
    grid-column: 2/6;
    h5 {
      text-align: center;
      grid-column: 2/6;
    }

    p {
      margin-top: 3%;
      margin-bottom: 6%;

    }
  }
  .section01 {
    grid-column: 2/6;
    display: grid;

    .elements {
      padding-top: 20px;
      grid-column: 1/5;
      margin: 35px;

      .cont-flex{
        align-items: center;
        justify-content: space-around;
        p {
          margin-top: -20px;
          .inner-being-box{
            margin-left: 20%;
          }
        }
      }
    }
    .quote {
      grid-column: 1/5;
    }
  }
  .star01 {
    padding-left: 90%;
  }
  .imagenes{
    grid-column: 1/7;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    justify-content: center;
    align-items: center;
    .imagen01 img{
      padding-top: 15rem;
    }
    .imagen02 img{
      height: auto;
      width: auto;
      padding: 0 50px 50px 50px;
    }
    .imagen03 img{
      padding-top: 15rem;
    }


  }
  .section02 {
    grid-column: 2/6;
    .text{
      margin: 50px 0 60px ;
      gap: 10%;
    }

  }
  .footer{
    grid-column: 1/8;
  }
}