//estileado de shop.html

@import "sass/base/generales";

//import de las variables

@mixin contenido-intro{
  .contenido-intro{
    height: auto;
    width: 100%;
    h2{
      margin-top: 5rem;
      text-align: center;
    }
    .intro-star{
      text-align: center;
      padding-left: 13rem;
      margin-top: 1.3999999999999986rem;}
    .intro-coleccion {
      margin-bottom: 1rem;
      text-align: center;
    }
  }
}

main{
  @include contenido-intro;
  .contenido-intro{
    height: auto;
    width: 100%;
    h2{
      margin-top: 5rem;
      text-align: center;
    }
    .intro-star{
      text-align: center;
      padding-left: 13rem;
      margin-top: 1.3999999999999986rem;
    }

    .intro-coleccion {
      margin-bottom: 1rem;
      text-align: center;
    }

  }
  .cont-nav{
    margin: $margin-t-low;
    justify-content: space-around;
    .logo04{
      height: 1.2rem;
    }
  }

  #carousel-cont{
    margin-top: 5%;
    display: none;
    justify-content: center;

    * p{
      padding-top: 35px;
      text-align: center;
    }
    .carousel-control-next,
    .carousel-control-prev /*, .carousel-indicators */ {
      filter: invert(100%);
      margin: 0 -50px;
      padding: 0 11px;
    }

    .carousel {
      display: block;
      position: relative;

    }

  }


  .items-stars-deco-carousel{
    display: none;

  }
  .conjuntos{
    p{
      margin: 5.4%;
    }
    .items-stars-deco{
      margin: 20px;
      p{
        margin: 0 30rem;
      }
    }
    .cont-flex{
      img{
        height: auto;
        width: 88%;
      }
    }
  }
}

@media (max-width: 1250px){
  main{
    .conjuntos{
      p{margin: 5% 4.4% 5% 5%;}
    }
  }
}
@media (max-width: 1024px) {
  //shop
  main{
    .cont-nav{
      justify-content: space-around;
      .nav-items-shop{
        margin-left: 0;
        .nav-back {
          margin: 0;
        }
      }
      .logo04{
        margin: 0;
      }
    }
    #carousel-cont{
      display: flex;
      justify-content: center;
      .carousel {
        display: block;
        position: relative;
      }
    }
    .items-stars-deco-carousel{
      display: flex;
      justify-content: space-around;
      margin: 20px;
    }
    .conjuntos{
      display: none;
    }
  }
}

//tuve que poner el media de shop en el mismismo file de shop
//porque no me lo tomaba sin el la etiqueta main