*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
  //border: solid 1px black;

  a{
    color: black;
    text-decoration: none;
  }

  h1,h2,h3{
    font-weight: normal;
  }

  li{
    list-style-type: none;
  }

  p{
    font-size: 18px;
  }

}